body {
    font-family: Helvetica, Arial, san-serif;
}
.container1,
.container2,
.container3,
.container4,
.container5 {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.container1 {
    height: 100px;
    background-color: blanchedalmond;
    align-items: center;
    font-size: 24px;
}

.container2,
.playerScore,
.computerScore {
    font-size: 20px;
}

.container4 {
    align-items: center;
    gap: 30px;
}

.container5 {
    gap: 195px;
}

button {
    border-radius: 4px;
    border-color: antiquewhite;
    padding: 40px;
    background-color: antiquewhite;
}

.playerScore {
    margin-right: 60px;
    margin-left: 40px;
}
.computerScore {
    margin-right: 50px;
}