body {
    font-family: Arial, Helvetica, sans-serif
}
.container1,
.container2,
.container3,
.container4 {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.container1 {
    height: 100px;
    background-color: blanchedalmond;
    align-items: center;
    font-size: 24px;
}

.container2 {
    font-size: 20px;
}

.container4 {
    align-items: center;
    gap: 30px;
}

button {
    border-radius: 4px;
    border-color: antiquewhite;
    padding: 40px;
    background-color: antiquewhite;
}